.auth-section {
    padding: 130px 20px 0;
}

.auth-section .container {
    max-width: 600px;
    margin: 0 auto;
}

.auth-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-family: "Fantazyor";
    font-size: 42px;
}

.form-wrapper {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.box-input {
    position: relative;
}

.input {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border:none;
    border-radius: 12px;
    outline: none;
    font-family: "Nunito";
}

.input:focus {
    box-shadow: 0 0 0 3px rgba(255, 182, 41, 0.1);
}

.input::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

label {
    position: absolute;
    top: -10px;
    left: 12px;
    padding: 0 8px;
    font-size: 14px;
    font-family: "Nunito";
}

.error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 8px;
    font-family: "Nunito";
    display: none;
    padding: 4px 8px;
    background-color: rgba(231, 76, 60, 0.1);
    border-radius: 4px;
}

.error.show {
    display: block;
}

.input.error-input {
    border: 2px solid #e74c3c;
}

.input.error-input:focus {
    box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.1);
}

.button {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Nunito";
    text-align: center;
    width: 100%;
}

.button:hover {
    transform: scale(1.02);
}

.button.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    transform: none;
    opacity: 0.7;
}

.enterOnAuth {
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
    font-family: "Nunito";
}

.enterOnAuth{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.enterOnAuth:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .auth-section {
        padding: 100px 20px 0;
    }

    .auth-section h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .form-wrapper {
        padding: 30px;
    }

    .input {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .form-wrapper {
        padding: 30px 20px;
    }
} 